.esc-receipt {
  border: 1px solid #888;
  font-family: monospace;
  margin: 1em;
  padding: 1em;
  min-width: 28em;
  display: inline-block;
}

.esc-line {
  white-space: pre;
}

.esc-emphasis {
  font-weight: bold;
}

.esc-justify-center .esc-text-scaled {
    transform-origin: 50% 0;
}

.esc-justify-right .esc-text-scaled {
    transform-origin: 100% 0;
}

.esc-justify-center {
    text-align: center;
}

.esc-justify-right {
    text-align: right;
}

.esc-text-scaled {
   display: inline-block;
   transform-origin: 0 0;
}

.esc-justify-center .esc-bitimage {
    margin-left: auto;
    margin-right: auto;
}

.esc-justify-right .esc-bitimage {
    margin-left: auto;
}

.esc-underline {
    border-bottom: 2px solid #000;
}

.esc-underline-double {
    border-bottom: 2px solid #000;
}

.esc-invert {
    background: #000;
    color: #fff;
}

.esc-upside-down {
    transform: rotate(180deg);
}

.esc-font-b {
    font-size: 75%
}

span {
    display: inline-block;
}

/*
TODO
- Generate height/width mixes up to 8x8
- Figure out how do display multiple height/widths inline correctly
*/
.esc-width-2 {
    transform: scale(2, 1);
}

.esc-width-3 {
    transform: scale(3, 1);
}

.esc-width-4 {
    transform: scale(4, 1);
}

.esc-width-5 {
    transform: scale(5, 1);
}

.esc-width-6 {
    transform: scale(6, 1);
}

.esc-width-7 {
    transform: scale(7, 1);
}

.esc-width-8 {
    transform: scale(8, 1);
}

.esc-height-2 {
    transform: scale(1, 2);
    margin-bottom: 1em;
}

.esc-height-3 {
    transform: scale(1, 3);
    margin-bottom: 2em;
}

.esc-height-4 {
    transform: scale(1, 4);
    margin-bottom: 3em;
}

.esc-height-5 {
    transform: scale(1, 5);
    margin-bottom: 4em;
}

.esc-height-6 {
    transform: scale(1, 6);
    margin-bottom: 5em;
}

.esc-height-7 {
    transform: scale(1, 7);
    margin-bottom: 6em;
}

.esc-height-8 {
    transform: scale(1, 8);
    margin-bottom: 7em;
}

.esc-width-2-height-2 {
    transform: scale(2, 2);
    margin-bottom: 1em;
}

.esc-width-2-height-3 {
    transform: scale(2, 3);
    margin-bottom: 2em;
}

.esc-width-2-height-4 {
    transform: scale(2, 4);
    margin-bottom: 3em;
}

.esc-width-2-height-5 {
    transform: scale(2, 5);
    margin-bottom: 4em;
}

.esc-width-2-height-6 {
    transform: scale(2, 6);
    margin-bottom: 5em;
}

.esc-width-2-height-7 {
    transform: scale(2, 7);
    margin-bottom: 6em;
}

.esc-width-2-height-8 {
    transform: scale(2, 8);
    margin-bottom: 7em;
}

.esc-width-3-height-2 {
    transform: scale(3, 2);
    margin-bottom: 1em;
}

.esc-width-3-height-3 {
    transform: scale(3, 3);
    margin-bottom: 2em;
}

.esc-width-3-height-4 {
    transform: scale(3, 4);
    margin-bottom: 3em;
}

.esc-width-3-height-5 {
    transform: scale(3, 5);
    margin-bottom: 4em;
}

.esc-width-3-height-6 {
    transform: scale(3, 6);
    margin-bottom: 5em;
}

.esc-width-3-height-7 {
    transform: scale(3, 7);
    margin-bottom: 6em;
}

.esc-width-3-height-8 {
    transform: scale(3, 8);
    margin-bottom: 7em;
}

.esc-width-4-height-2 {
    transform: scale(4, 2);
    margin-bottom: 1em;
}

.esc-width-4-height-3 {
    transform: scale(4, 3);
    margin-bottom: 2em;
}

.esc-width-4-height-4 {
    transform: scale(4, 4);
    margin-bottom: 3em;
}

.esc-width-4-height-5 {
    transform: scale(4, 5);
    margin-bottom: 4em;
}

.esc-width-4-height-6 {
    transform: scale(4, 6);
    margin-bottom: 5em;
}

.esc-width-4-height-7 {
    transform: scale(4, 7);
    margin-bottom: 6em;
}

.esc-width-4-height-8 {
    transform: scale(4, 8);
    margin-bottom: 7em;
}

.esc-width-5-height-2 {
    transform: scale(5, 2);
    margin-bottom: 1em;
}

.esc-width-5-height-3 {
    transform: scale(5, 3);
    margin-bottom: 2em;
}

.esc-width-5-height-4 {
    transform: scale(5, 4);
    margin-bottom: 3em;
}

.esc-width-5-height-5 {
    transform: scale(5, 5);
    margin-bottom: 4em;
}

.esc-width-5-height-6 {
    transform: scale(5, 6);
    margin-bottom: 5em;
}

.esc-width-5-height-7 {
    transform: scale(5, 7);
    margin-bottom: 6em;
}

.esc-width-5-height-8 {
    transform: scale(5, 8);
    margin-bottom: 7em;
}

.esc-width-6-height-2 {
    transform: scale(6, 2);
    margin-bottom: 1em;
}

.esc-width-6-height-3 {
    transform: scale(6, 3);
    margin-bottom: 2em;
}

.esc-width-6-height-4 {
    transform: scale(6, 4);
    margin-bottom: 3em;
}

.esc-width-6-height-5 {
    transform: scale(6, 5);
    margin-bottom: 4em;
}

.esc-width-6-height-6 {
    transform: scale(6, 6);
    margin-bottom: 5em;
}

.esc-width-6-height-7 {
    transform: scale(6, 7);
    margin-bottom: 6em;
}

.esc-width-6-height-8 {
    transform: scale(6, 8);
    margin-bottom: 7em;
}

.esc-width-7-height-2 {
    transform: scale(7, 2);
    margin-bottom: 1em;
}

.esc-width-7-height-3 {
    transform: scale(7, 3);
    margin-bottom: 2em;
}

.esc-width-7-height-4 {
    transform: scale(7, 4);
    margin-bottom: 3em;
}

.esc-width-7-height-5 {
    transform: scale(7, 5);
    margin-bottom: 4em;
}

.esc-width-7-height-6 {
    transform: scale(7, 6);
    margin-bottom: 5em;
}

.esc-width-7-height-7 {
    transform: scale(7, 7);
    margin-bottom: 6em;
}

.esc-width-7-height-8 {
    transform: scale(7, 8);
    margin-bottom: 7em;
}

.esc-width-8-height-2 {
    transform: scale(8, 2);
    margin-bottom: 1em;
}

.esc-width-8-height-3 {
    transform: scale(8, 3);
    margin-bottom: 2em;
}

.esc-width-8-height-4 {
    transform: scale(8, 4);
    margin-bottom: 3em;
}

.esc-width-8-height-5 {
    transform: scale(8, 5);
    margin-bottom: 4em;
}

.esc-width-8-height-6 {
    transform: scale(8, 6);
    margin-bottom: 5em;
}

.esc-width-8-height-7 {
    transform: scale(8, 7);
    margin-bottom: 6em;
}

.esc-width-8-height-8 {
    transform: scale(8, 8);
    margin-bottom: 7em;
}

.esc-bitimage {
    display: block;
}
